/* Calendar Css */
.react-calendar, .react-calendar *, .react-calendar *:before, .react-calendar *:after {
  box-sizing:border-box;
}
.react-calendar {
  width:100%;
  background-color:#fff;
  border-radius:10px;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.1);
}
/* Swiper Css */
.swiper-wrap .swiper-slide {
  word-break: keep-all;
  color:var(--sub-background-color);
  margin: 0 0 3rem 0;
  font-size:1.6rem;
}
.swiper-wrap .swiper-pagination {
  position: relative;
  bottom:0 !important;
  text-align: left;
}
.swiper-wrap .swiper-pagination .swiper-pagination-bullet {
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--sub-background-color);
  margin: 0 1.4rem 0 0 !important;
  opacity:1;
}
.swiper-wrap .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--main-color)
}